:root {
  font-size: 16px;
  --dk-bg: #0e182a;
  --md-bg: #2a67d4;
  --lt-bg: #4982e6;
  --grey-bg: #2a2a2e;
  --accent: #3794e9;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "AirbnbCereal Light";
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  background-color: var(--grey-bg);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
}

@media screen and (min-width: 600px) {
  :root {
    font-size: 20px;
  }

  .container {
    width: 600px;
    margin: 0 auto;
  }
}

section {
  height: 100vh; /* Fallback */
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  scroll-snap-align: start;
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dk-bg {
  background-color: var(--dk-bg);
  color: white;
}

.md-bg {
  background-color: var(--md-bg);
  background: linear-gradient(0deg, var(--lt-bg) 0%, var(--md-bg) 100%);
  color: white;
}

.black {
  font-family: "AirbnbCereal Black";
}

p {
  font-size: 1.3rem;
  display: block;
}

ol {
  margin: 1rem;
  list-style-type: decimal;
}

ol li {
  margin: 0 1rem;
  font-weight: 600;
}

ol ol {
  list-style-type: lower-latin;
}
ol li ol li {
  font-weight: 300;
}

h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.hero {
  text-align: center;
  font-size: 3rem;
  transform: rotate(-15deg);
  margin: 2rem;
}

h1,
h2,
p {
  margin: 1rem 0;
}

p {
  font-size: 1rem;
  line-height: 1.8rem;
  margin-bottom: 2rem;
  letter-spacing: 0.03rem;
}
